{{ form_start(form) }}
<div class="form-group">
    <div class="form-group">
        <div class="input-group mb-3 summerNoteForm justify-content-center">

            {{ form_widget(form.notice) }}
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <button class="btn btn-warning ">{{ button_label|default('Modifier') }}</button>
</div>
{{ form_end(form) }}
