{% extends 'base.html.twig' %}

{% block title %}Edit LegalNotice{% endblock %}

{% block body %}
    <h1>Edit LegalNotice</h1>

    {{ include('legal_notice_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('legal_notice_admin') }}">back to list</a>
{% endblock %}
