{% extends 'layoutAdmin.html.twig' %}

{% block title %}New LearningCenter{% endblock %}

{% block body %}
    <h1>Create new LearningCenter</h1>

    {{ include('learning_center_admin/_form.html.twig') }}

    <a href="{{ path('learning_center_index') }}">back to list</a>
{% endblock %}
