{% extends 'layoutFront.html.twig' %}

{% block title %}Accueil - Métiers du Numérique{% endblock %}

{% block body %}
    <div class="container">
        {% if job.video is not empty %}
        <section>
            <div class="row mb-5 mt-5 justify-content-center">
                <h2>À la découverte du métier de {{ job.name }}</h2>
            </div>
            <div class="col-xs-12 col-md-8 mx-auto">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560"
                            height="315"
                            src="{{ job.video }}"
                            allowfullscreen>
                    </iframe>
                </div>
            </div>
            <h4 class="mt-5">Description de la vidéo:</h4>
            <p>{{ job.videodescription }}</p>
            <div class="row justify-content-center">
                <a href="{{ path('job_show', {'id': job.id}) }}" class="btn-primary btn ">En savoir plus...</a>
            </div>
            <hr class="d-none d-sm-block">
        </section>
        {% endif %}
            <div class="row mt-5" id="concept">
            <div class="col-xs-12 col-lg-4 col-sm-12 marginImage">
                <img class="align-self-end mr-3 logo-home" src="http://image.noelshack.com/fichiers/2018/49/3/1544001708-imageedit-4-2153222355.png"
                     alt="Generic placeholder image">
            </div>
            <div class="col-lg-8 col-xs-12 col-sm-12">

                <h2 class="mt-0" id="Concept">Notre Concept</h2>

                <p>La plateforme Métiers du Numérique de l’Orléanais vous présente les métiers du numérique présents sur notre territoire.
                    Elle est destinée à la fois aux personnes qui souhaitent s’orienter sur ces métiers et aux professionnels en recherche de
                    renseignements concrets sur la réalité et les compétences attendues dans ces métiers.
                </p>
                <p>Chaque métier est associé aux entreprises de l’Orléanais qui ont des besoins sur le métier concerné.
                    Chaque fiche métier redirige également vers les organismes de formation permettant de se former au métier.
                </p>
            </div>
        </div>
    </div>
    {% include 'partner/_slider.html.twig' %}



{% endblock %}
