{% extends 'layoutAdmin.html.twig' %}

{% block title %}Ajouter une fiche métier {% endblock %}

{% block body %}
    <h1>Ajouter une Fiche métier</h1>

    {{ include('job_admin/_form.html.twig') }}

    <a href="{{ path('job_index') }}">back to list</a>
{% endblock %}
