<div class="container-fluid bg-dark">
    <div class='container'>
        <div class='single-item'>
            {% for partner in partners %}
                <div>
                    <img class="carousel-icon" src="{{ partner.picture }}" alt="">
                    <a href="{{ partner.url }}">
                        <h3 class="carousel-title">{{ partner.name }}</h3>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

