<div class="container-fluid bg-dark">
    <div class='container'>
        <div
        <div class='single-item'>
            {% for partner in partners %}
                <div class="col-4">
                    <img class="carousel-icon align-content-center" src="{{ partner.picture }}" alt="">
                </div>
                    <a href="{{ partner.url }}" class="text-center mx-auto">
                        {{ partner.name }}
                    </a>

            {% endfor %}
        </div>
    </div>
</div>

