{% extends 'base.html.twig' %}

{% block title %}New Partner{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <h1>Create new Partner</h1>
        </div>

    {{ include('partner/_form.html.twig') }}
    </div>
    <a href="{{ path('partner_index') }}">back to list</a>
{% endblock %}
