{% extends 'layoutAdmin.html.twig' %}

{% block title %}Gestion Catégories:{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Gestion des Catégories :</h1>
            </div>
        </div>
        <section class="sectionSpace">

            <table class="col-12 mx-auto table">
                <thead>
                <tr>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Nb Métiers</th>
                    <th scope="col">Voir</th>
                    <th scope="col">Supprimer</th>
                </tr>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        {% set nbjobs = 0 %}
                        {% for job in category.associatedJobs %}
                            {% set  nbjobs = nbjobs + 1 %}
                        {% endfor %}

                        <td><button type="button" class="btn btn-danger">
                                <span class="badge badge-light">{{ nbjobs }}</span>
                            </button>
                        </td>
                        <td>
                            <a class="col-xs-12 col-lg-12 col-md-1"
                               href="{{ path('category_admin_show', {'id': category.id}) }}"><i class="far fa-eye"></i></a>
                        </td>
                        <td>{% if nbjobs==0 %} {{ include('category_admin/_delete_form.html.twig') }} {% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}
