{% extends 'layoutAdmin.html.twig' %}

{% block title %}Gestion Catégories:{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Gestion des Catégories :</h1>
            </div>
        </div>
        <section class="sectionSpace">

            <table class="col-12 mx-auto table">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Voir</th>
                </tr>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <th>{{ category.name }}</th>
                        <td>
                                <i class="far fa-eye eye-white"></i>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}
