{% extends 'layoutAdmin.html.twig' %}

{% block title %}Gestion Catégories:{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Gestion des Catégories :</h1>
            </div>
        </div>
        <div class="row d-flex justify-content-end mt-3">
            <div class="col-sm-12 col-md-2">
                <a href="{{ path('job_admin')}} ">
                    <button class="btn btn-primary button-save">Accéder aux fiches métiers</button>
                </a>
            </div>
        </div>
        <section class="sectionSpace">

            <table class="col-12 mx-auto table">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Voir</th>
                </tr>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <th>{{ category.name }}</th>
                        <td>
                            <a class="col-xs-12 col-lg-12 col-md-1"
                               href="{{ path('category_admin_show', {'id': category.id}) }}"><i class="far fa-eye"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}
