{% extends 'layoutAdmin.html.twig' %}

{% block title %}Gestion Catégories:{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Gestion des Catégories :</h1>
            </div>
        </div>
        <section class="sectionSpace">

            <table class="col-12 mx-auto table">
                <thead class="headCategories">
                <tr>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Nb Métiers</th>
                    <th scope="col">Voir</th>
                    <th scope="col">Supprimer</th>
                </tr>
                <tbody class="text-center">
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>
                            <span class="badge badge-pill badge-info nbJobs">{{ category.associatedJobs|length }}</span>

                        </td>
                        <td>
                            <a class="col-xs-12 col-lg-12 col-md-1"
                               href="{{ path('category_admin_show', {'id': category.id}) }}"><i class="far fa-eye"></i></a>
                        </td>
                        <td>{% if category.associatedJobs|length==0 %} {{ include('category_admin/_delete_form.html.twig') }} {% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}
