{% extends 'layoutAdmin.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <h2>{{ category.name }}</h2>
                {% for job in category.associatedJobs %}
                    {{ job.name }}
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}

