<a class="like " data-commentId="{{ comment.id }}" data-commentJobId="{{ comment.associatedJob.id }}"
   href="#">
    <i class="fas fa-thumbs-up"></i>
</a>
<p class="nb-like" id="like{{ comment.id }}" data-session="">{{ comment.liked }}</p>