<p class="nb-like text-center" id="like{{ comment.id }}" data-session="">{{ comment.liked }}</p>
<a class="like " data-commentId="{{ comment.id }}" data-commentJobId="{{ comment.associatedJob.id }}"
   href="#">
    <i class="fas fa-thumbs-up"></i>
    <p class="text-center mt-3">J'aime</p>
</a>
