<button class="btn buttonModal" onclick="openModal()">{{ button_label|default('voir les entreprises') }}</button>
<div id="myModal" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeModal()">&times;</a>
    <ul>
        {% for business in businesses %}
            <div class="overlay-content">
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <img class="mx-auto col-6" src="{{ asset('build/images/'~business.logo) }}"/>
                            <li><a class="linkBusiness col-6 d-flex align-items-center" href="{{ business.link }}"
                                   target="_blank">{{ business.name }}</a></li>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>
</div>