{% extends 'base.html.twig' %}

{% block title %}Edit Business{% endblock %}

{% block body %}
    <h1>Edit Business</h1>

    {{ include('business/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('business_index') }}">back to list</a>

    {{ include('business/_delete_form.html.twig') }}
{% endblock %}
