{% extends 'layoutFront.html.twig' %}
{% block title %}Fiches Métiers{% endblock %}
{% block body %}
    <div class="container jobIndex">
        <div class="row col-lg-12 ">
            <h2 class="pb-5 mx-auto">Fiche métier du numérique</h2>
        </div>
        <div class="row button-pills justify-content-center col-lg-12">
            <div class="col-xs-12 col-lg-offset-3 pillcategory">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    {% for category in categories %}
                        <li class="nav-item">
                            <a class="nav-link text-uppercase font-weight-bold {% if loop.index == 1 %}active{% endif %}"
                               id="pills-{{ category.id }}-tab" data-toggle="pill" href="#pills-{{ category.id }}"
                               role="tab" aria-controls="pills-{{ category.id }}"
                               aria-selected="{% if loop.index == 1 %}true{% else %}false{% endif %}">{{ category.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="tab-content" id="pills-tabContent">
                {% for category in categories %}
                    {% include 'job/_card.html.twig' with {
                        'jobs': jobs
                    } %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}