@import "../../node_modules/bootswatch/dist/lux/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootswatch/dist/lux/bootswatch";


$colorFontButton : white;
$marginSection : 8em;
$faBack : 3em;
$backgroundColor: white;
$bordecolor : black;
$navbarBgonScroll:rgba(0,0,0,0.7);
$imageMargin: 4em;
$shadowColor:black;
$fontFamily:'Roboto Condensed', sans-serif;
$navbarBgonScroll:rgba(0,0,0,0.7);

$buttonColor : black;
$buttonColorHover : grey;
$txtModal : 16pt;
$colorLink : blue;
$colorLinkVisited : purple;
$txtButton : white;
$shadowColor: black;
$fontFamilly:'Roboto Condensed', sans-serif;
$navbarBgonScroll:rgba(0,0,0,0.7);
$imageMargin: 4em;

@mixin myButtons {
    background-color: $buttonColor;
    color: $txtButton;
    &:hover {
        background-color: $buttonColorHover;
    }
}

body {
    background-color: $backgroundColor;
}
/*buisness card*/
.jobPicture{
    min-height: 32vh;
    min-width: 40vh;
    max-height: 32vh;
    max-width: 40vh;
}


.faback {
    font-size: $faBack;
}

hr{
    border: $bordecolor;
    border-style: inset;
    border-width: 1px;
    margin: $marginSection;
}
.sectionSpace {
    margin-top: $marginSection
}

/*banner*/
.banner {
    background-image: url("../images/server.jpg");
    height: 30vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-bottom: 50px;

    .banner-content {
        position: relative;
        top: 150px;



        .title {
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 20px;
            margin-left: 0px;
            border-right: 2px solid rgba(255, 255, 255, .75);
            font-size: 3.2vw;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            transform: translateY(-50%);
            text-transform: uppercase;

        }
            @media (max-width: 992px){
                .title{
                    min-width: 80vw;
                }
            }
        .typewriter {
            animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
            color: #fff;
        }
    }
}
@keyframes typewriter {
    from { width: 0; }
    to { width: 16.3em; }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: #fff;
    }
    to {
        border-right-color: transparent;
    }
}

/*navbar*/

.custom-navbar-on-scroll {
    background-color: $navbarBgonScroll;
}
@media (max-width: 992px) {
    .custom-navbar {
        background-color: $navbarBgonScroll;
    }
}

@media (min-width: 992px) {
    .custom-navbar{
        background-color: transparent;
        text-shadow: 1px 1px 2px $shadowColor, 0 0 1em $shadowColor, 0 0 0.5em $shadowColor;
    }
}
.navbar{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: $fontFamily;
    .logo-nav{
        max-height: 50px;
        max-width: 50px;
        margin-left: 2vw;
        margin-right:2vw;
    }
    .align-right{
        margin-left: 25vw;
    }
}



/*slider partner*/
.title_partners{
    white-space: nowrap;
}
.slider-patners{
    max-height: 600px;
    max-width: 600px;
    min-height: 600px;
    min-width: 600px;
}

.name-patner{

    font-weight: bold;

    font-size: 2em;
}
.marginImage{
    margin-bottom: $imageMargin;
}

/*button add category*/
.buttonCategory {
    @include myButtons;
    height: 48px;
}
.newCategory {
    margin-left: -15px;
}

.marginImage{
    margin-bottom: $imageMargin;
}
/*button modal*/
.buttonModal {
    @include myButtons;
    height: 48px;
}
/*modal business*/
.linkBusiness {
    font-size: $txtModal;
}
.linkBusiness:hover {
    color: $colorLink;
}
.linkBusiness:focus {
    outline:none;
    color: $colorLinkVisited;
}
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(250,250,250, 1); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

