@import "../../node_modules/bootswatch/dist/lux/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootswatch/dist/lux/bootswatch";


$colorFontButton : white;
$marginSection : 8em;
$faBack : 3em;
$backgroundColor: white;
$bordecolor : black;
$shadowColor: black;
$fontFamilly:'Roboto Condensed', sans-serif;
$navbarBgonScroll:rgba(0,0,0,0.7);

body {
    background-color: $backgroundColor;
}
.jobPicture{
    min-height: 32vh;
    min-width: 40vh;
    max-height: 32vh;
    max-width: 40vh;
}


.faback {
    font-size: $faBack;
}

hr{
    border: $bordecolor;
    border-style: inset;
    border-width: 1px;
    margin: $marginSection;
}
.sectionSpace{
    margin-top : $marginSection
}

/*banner*/
.banner{
    background-image: url("../images/server.jpg");
    height: 30vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-bottom: 50px;
    .banner-content {
        position: relative;
        top:  150px;
        left: 30vw;
        .title {
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 20px;
            margin-left: 0px;
            border-right: 2px solid rgba(255,255,255,.75);
            font-size: calc(25px + (46 - 29) * (100vw - 400px) / 1200);
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            transform: translateY(-50%);
            color: rgba(255,255,255,.75);
            text-transform: uppercase;
            font-family: 'Roboto Condensed', sans-serif;
        }
        .typewriter {
            animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
            color: #fff;
        }
    }
}

@keyframes typewriter {
    from { width: 0; }
    to { width: 16.3em; }
}

@keyframes blinkTextCursor {
    from { border-right-color: #fff; }
    to { border-right-color: transparent; }
}
