
$colorFontButton : white;
$marginSection : 8em;
$faBack : 3em;


.jobPicture{
  min-height: 32vh;
  min-width: 40vh;
  max-height: 32vh;
  max-width: 40vh;
}


.faback {
  font-size: $faBack;
}

hr{
  border:  black;
  border-style: inset;
  border-width: 1px;
  margin: $marginSection;
}
.sectionSpace{
  margin-top : $marginSection
}
