<form method="post" action="{{ path('company_admin_delete', {'id': company.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce commentaire?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>