{% extends 'layoutAdmin.html.twig' %}

{% block title %}New Company{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <a class="col-xs-12 col-md-1" href="{{ path('partner_index') }}"><i class="fas fa-arrow-circle-left faback"></i></a>
            <h1 class="mx-auto title-form">Ajouter une nouvelle entreprise</h1>
        </div>
        {{ include('company_admin/_form.html.twig') }}

        <a href="{{ path('compagny_admin') }}">Retour à la liste des entreprises</a>
    </div>
{% endblock %}
