{% extends 'layoutAdmin.html.twig' %}

{% block title %}New Company{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle entreprise</h1>

    {{ include('company_admin/_form.html.twig') }}

    <a href="{{ path('company_index') }}">back to list</a>
{% endblock %}
