<footer class="footer">
    <div class="container-fluid">
        <div class="row d-flex flex-nowrap footer-row">
            <div class="col-lg-5 col-sm-6 col-xs-6 row d-flex flex-nowrap justify-content-center">
                <div class="col-lg-8 col-sm-11 col-xs-3">
                    <p class="d-none d-sm-block">Pour suivre tout les évenements Tech de la régions rendez-vous sur:</p>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6 justify-content-center">
                <div class="offset-lg-3 col-lg-4 col-sm-1 col-xs-3">
                    <a href="https://www.meetup.com/fr-FR/cities/fr/orl%C3%A9ans/">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Meetup_Logo.png/150px-Meetup_Logo.png">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6  offset-xs-3 col-xs-6 row justify-content-center">
                <!-- Button trigger modal -->
                <div>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#modalLegalNotice">
                        Mentions Légales
                    </button>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modalLegalNotice" tabindex="-1" role="dialog"
                 aria-labelledby="mentionLegale" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="mentionLegale">Mentions Légales</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                                 {{ render(controller('App\\Controller\\LegalNoticeController::index')) }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>