<nav class="navbar navbar-expand-lg navbar-dark custom-navbar fixed-top" id="navbar">
    <a class="navbar-brand" href="/"><img src="http://image.noelshack.com/fichiers/2018/49/3/1544001708-imageedit-4-2153222355.png" class="logo-nav"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Concept <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/job">Métier</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/learningCenter/new">Je suis un organisme de formation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/company/new">Je suis une entreprise</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contactez nous</a>
            </li>
            <li class="justify-content-end">
                <button class="nav-link align-right btn btnSearch" id="btn-modalSearch">
                    <i class="fas fa-search"></i>
                </button>
            </li>

        </ul>
    </div>
</nav>
{% include '_searchmodal.html.twig' %}
