<nav class="navbar navbar-expand-lg navbar-dark custom-navbar fixed-top" id="navbar">
    <a class="navbar-brand" href="#"><img src="https://via.placeholder.com/150x150" class="logo-nav"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Concept <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Métier</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Je suis un organisme de formation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Je suis une entreprise</a>
            </li>
            <li>
                <a href="#" class="nav-link align-right">
                    <i class="fas fa-search"></i>
                </a>
            </li>

        </ul>

    </div>
</nav>
