{% extends 'base.html.twig' %}

{% block title %}Edit LearningCenter{% endblock %}

{% block body %}
    <h1>Edit LearningCenter</h1>

    {{ include('learning_center/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('learning_center_index') }}">back to list</a>

    {{ include('learning_center/_delete_form.html.twig') }}
{% endblock %}
